In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID", axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [10]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

## 함수 만들기

In [28]:
def getEntropy(df, feature) :
    
    feature_yes = df.loc[df[feature] == 'yes']
    feature_no = df.loc[df[feature] == 'no']
    
    x = np.array([(len(feature_yes)+0.00000001) / len(df),
                  (len(feature_no)+0.00000001) / len(df)])
    y = np.log2(x)

    entropy = -sum(x*y)
    return(entropy)

In [29]:
getEntropy(df, "class_buys_computer")

0.9402859581259644

In [30]:
# 각 변수에 대한 gain 구하기
def getGainA(df, feature) :
    info_D = getEntropy(df, feature)
    columns = list(df.loc[:, df.columns != feature])

    gains = []
    
    for i in columns:
        info_Di = 0
        label = list(df[i].unique())
    
        for j in range(len(label)):
            new_df = df.loc[df[i] == label[j]]
            info_Di += (len(new_df[i])/len(df[i])) * (getEntropy(new_df, feature))
    
        gain = info_D - info_Di 
        gains.append(gain)
    
    result = dict(zip(columns,gains))
    return (result)

In [31]:
getGainA(df, "class_buys_computer")

{'age': 0.24674980102996047,
 'income': 0.029222566593722243,
 'student': 0.15183550132573598,
 'credit_rating': 0.048127030831990436}

## 결과 확인하기

In [32]:
my_dict = getGainA(df, "class_buys_computer")
def f1(x):
    return my_dict[x]
key_max = max(my_dict.keys(), key=f1)
print('정보 획득이 가장 높은 변수는',key_max, "이며 정보 획득량은", my_dict[key_max], "이다.")

정보 획득이 가장 높은 변수는 age 이며 정보 획득량은 0.24674980102996047 이다.